{#{% load likes %}#}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% for file in files %}
    <div class="box float-sm-left" >
               <a href="{{ file.file.url }}" download>{{ file.name }}</a>
            <div class="text-center">
                <b>{{ file.name}} Размер {{ file.file.size|filesizeformat }}</b><br>
                {% if file.auyhor %}
                    <b>Автор :<a href="{% url 'accounts:detail' file.author.pk %}"> {{ file.author }}. </a>
                {% endif %}
                    | Дата: {{ file.upload_date | date:"Y-m-d"}}</b>
{#                {% if user.is_authenticated %}#}
{#                {% with photo|liked_by:user as liked %}#}
{#                    <div class="col col-lg-12">#}
{#                        <a class="{% if liked %}hidden{% endif %} like" href="{% url 'webapp:favorites_add' photo.pk %}">Добавить в избранное</a>#}
{#                        <a class="{% if not liked %}hidden{% endif %} unlike" href="{% url 'webapp:favorites_delete' photo.pk %}">Удалить из избранного</a>#}
{#                    </div>#}
{#                {% endwith %}#}
{#                {% endif %}#}
            </div>
    </div>
{% empty %}
    <h2 class="text-center">Нет файлов</h2>
{% endfor %}

{#{% for file in gallery %}#}
{#    <div class="row">#}
{#        <div class="col col-lg-12">#}
{#            <div class="box">#}
{#               <a href="{% url 'webapp:one_photo_view' file.pk %}">#}
{#                   <img src="{{file.file.url }}" width="300" height="200" alt="Foto">#}
{#               </a>#}
{#                <b>Автор : {{ file.author }}.  | Дата: {{ file.created_at | date:"Y-m-d H:m:s"}}</b>#}
{#            </div>#}
{#            <h3><a href="{% url 'webapp:one_photo_view' file.pk %}"><b>Подпись: {{ file.signature }} </b></a> </h3>#}
{#        </div>#}
{#     {% if user.is_authenticated %}#}
{#        <p>#}
{#            {% with file|liked_by:user as liked %}#}
{#                <div class="col col-lg-12">#}
{#                    <a class="{% if liked %}hidden{% endif %} like" href="{% url 'webapp:favorites_add' file.pk %}">Добавить в избранное</a>#}
{#                    <a class="{% if not liked %}hidden{% endif %} unlike" href="{% url 'webapp:favorites_delete' file.pk %}">Удалить из избранного</a>#}
{#                </div>#}
{##}
{#            {% endwith %}#}
{#        </p>#}
{#        {% endif %}#}
{#    </div>#}
{#    <hr>#}
{#    {% empty %}#}
{#        <h2 class="text-center">Нет фотографий</h2>#}
{#    {% endfor %}#}